@charset "utf-8";
/* CSS Document */

html {
font-family: "Trebuchet MS", Arial, Sans-serif;
font-size: 13px;
letter-spacing: 0px;
word-spacing: 0.08em;
line-height: 18px;
background:url(../img/bgbody.png) repeat;

}
body, div {margin: 0;padding: 0;}

input[type="text"]{border:1px solid #CCC;}
select{ width:150px;}

#header{ 
min-height:100px;
min-width:1000px;
background:url(../img/bgheader.jpg) repeat-x;
}
#header h3 { position:absolute; top:35px; left:180px; color:#002956; font-family:Tahoma, Geneva, sans-serif}
#header h3.msj {
	position: absolute;
	top: 34px;
	left: 158px;
	color: #002956;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 35px;
}
#menu{ 
min-height:30px;
min-width:1000px;
background:#002956;

}
#contenedor{
margin: 0px auto;
min-width:1000px;
width:1000px;
height:auto;
background:#FFFFFF;
}
#contenido{
background:#FFF;
height:auto;
width:auto;
min-height:650px;
border-right:1px dashed #CCCCCC;
border-left:1px dashed #CCCCCC;
padding:10px 10px 0px 10px;
}
/*---PIE DE LA PAGINA */
#pie{
position: relative;
clear: both;
margin: 20px 0 0 0;
padding: 10px px;
border-top: 2px solid #002956;
}
#pie .logo {
position: absolute;
padding: 10px 10px 8px;
top: 8px;
right: 0;
}
#pie .nav {
margin: 0 0 20px 0;
padding: 0;
font-size: 110%;
font-weight: 700;
}
#pie .nav a {
color: #222;
text-decoration: none;
}
#pie .nav a:hover {
color: #099;
text-decoration: underline;
}
#pie .copyright {
margin: 0 0 10px 0;
padding: 0 0 10px 0;
}
/*-----menu----*/

#navi {  
	list-style:none;
	margin:0px auto;
	padding:0;
	background:transparent;
	width:1000px;
}

ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    background: #002956;
    margin-left: 1px;
    white-space: nowrap;
	border-top: 1px solid #002956;
}
ul li a:hover {
background: #009933;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #009933; }
li:hover li a:hover {
    background: #002956;
}


.txtpeque,#mayorque{ width:40px;}

/*-------TABLAS ESTILO-----*/
table.options th {
	background: #002956;
	color: #fff;
	padding:6px;
	text-align: left;
	font-weight: normal;
	border-right: 1px solid #3B224F;
	border-bottom: 1px solid #3B224F;
	}
table.options td {
	padding: 3px 5px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	line-height: 1;
	text-align:left;
	width: auto;
	}
table.options td.center,table.options th.center{ text-align:center;}
table.options td.tooltip{ text-align:center; }
/*PARA LOS COLORES*/
table.options td.blanco{ background:#FFF;}
table.options td.azul{ background:#366092;}
table.options td.verde{ background:#33CC33;}
table.options td.amarillo{ background:#FFFF00;}
table.options td.rojo{ background:#FF0000;}
/*---------------------------*/
table.options td.left{ text-align:left;}
/*---BOTONES----*/
.button {
	background:#222;
	padding: 5px 10px 6px;
	color: #FFF;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom:0px;
	}
.blue.button, .blue.button:visited { background-color: #002956; }
.blue.button:hover{ background-color: #2575CF; }
a img {border: none;}
/*-----------CAJAS DE MENSAJE------------*/
.info, .exito, .alerta, .error { 
       font-family:Arial, Helvetica, sans-serif;  
       font-size:13px; 
       border: 1px solid; 
       margin: 10px 0px; 
       padding:15px 10px 15px 50px; 
       background-repeat: no-repeat; 
       background-position: 10px center; 
	   text-align:left;
} 
.info { 
       color: #00529B; 
       background-color: #BDE5F8; 
       background-image: url('info.png'); 
} 
.exito { 
       color: #4F8A10; 
       background-color: #DFF2BF; 
       background-image:url('exito.png');
	   text-align:left;
} 
.alerta { 
       color: #9F6000; 
       background-color: #FEEFB3; 
       background-image: url('alerta.png'); 
} 
.error { 
       color: #D8000C; 
       background-color: #FFBABA; 
       background-image: url('error.png'); 
} 
.tablaheader{ text-align:left; width:51%; padding-bottom:8px;}
h3{ padding:0px; margin:0; text-transform:uppercase;}
hr{color:#2575CF;}
.marco{ border:1px dashed #CCCCCC; width:30%;}
.marco legend{ background:#002956; padding:4px; color:#fff;}
