#CalendarControlIFrame 
	{
  	display: none;
  	left: 0px;
  	position: absolute;
  	top: 0px;
  	height: 250px;
  	width: 250px;
  	z-index: 99;
	}

#CalendarControl 
	{
  	position:absolute;
  	background-color:#FFF;
  	margin:0;
  	padding:0;
  	display:none;
  	z-index: 100;
	}


#CalendarControl table 
	{
  	font-family: verdana;
  	font-size: 8pt;
  	background-color: #FFF;  
  	border-left: 1.2px solid #999999;
  	border-right: 1.2px solid #999999;
  	border-bottom: 1.2px solid #999999;
  	border-top: 1.2px solid #999999;
	}

#CalendarControl th a 
	{
  	font-weight: normal;
  	text-decoration: none;
  	color: #FFF;
  	padding: 1px;
	}

/*__________________________________ HEADER ________________________________________*/
#CalendarControl .header 
	{
   	font-weight: bold; height:26px;
   	background-image:url(images/header.png);
   	background-color: #EEEEEE;	
	}

.dayname
	{
 	font-weight:bold
 	}
 
 /*__________________________________ DIAS ________________________________________*/
#CalendarControl .days,
#CalendarControl .weekday,
#CalendarControl .weekend
	{
 	background-color: #eeeeee;
  	color: #666666;
	}


#CalendarControl .empty
	{
  	background-color: #ffffff;
  	color: #000;
	}


#CalendarControl .current 
	{
  	border: 1px solid #339;
  	background-color: #FF9900;
  	color: #FFF;
	}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current 
	{
  	display: block;
  	text-decoration: none;
  	border: 1px solid #999999;
  	width: 2.4em; height:1.5em
	}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover 
	{
  	color: #FFF;
  	background-color: #336699;
  	border: 1px solid #336699;
	}

/*__________________________________ FECHAS DE MESES Y ANIOS ________________________________________*/
#CalendarControl .previous 
	{
  	text-align: left;
	}

#CalendarControl .next 
	{
  	text-align: right;
	}

#CalendarControl .previous,
#CalendarControl .next 
	{
  	padding: 1px 3px 1px 3px;
	}

#CalendarControl .previous a,
#CalendarControl .next a 
	{
   	text-decoration: none;
   	color:#000000;
   	font-size:16px;
	}