#menuwrapper 
{
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	background-color: #909090;
	background-image: url(menu_bg.jpg);
	background-repeat: repeat-x;
}
.clearit 
{
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
#p7menubar 
{
	/*width: 36em;*/
}
#p7menubar, #p7menubar ul 
{
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
#p7menubar a {
	display: block;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border-right: 1px solid #333;
	font-size: .75em;
	/*color: #CCCCCC; */color:#FFFFFF;
}

#p7menubar a.trigger 
{
	padding: 5px 16px 5px 10px;
	background-image: url(menu_flecha.gif);
	background-repeat: no-repeat;
	background-position: right center; 
}
#p7menubar li {
	float: left;
	width: 9em;
}
/*IE5 Mac OS 9 workaround*/
#p7menubar li {position: relative;}

/* hide from IE mac \*/
#p7menubar li {position: static; width: auto;}
/* end hiding from IE5 mac */

#p7menubar li ul, #p7menubar ul li  {
	width: 12em;
}
#p7menubar ul li a  {
	color: #565656;
	border-right: 0;
	padding: 3px 12px 3px 16px;
}
#p7menubar li ul {
/*COLOR DE FONDO DE CADA OPCION  DESPLEGABLE*/
	position: absolute;
	display: none;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333; 
	background:#EEEEEE; 
	
}
#p7menubar li div {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
}


#p7menubar li:hover a, #p7menubar a:focus,
#p7menubar a:active, #p7menubar li.p7hvr a {
	/* COLOR DE CADA TAB hover*/
	background:#EEEEEE; color: #333333;
	/*border-bottom: 1px solid #666666;*/
	
}


#p7menubar li:hover ul, #p7menubar li.p7hvr ul {
	display: block;
}
#p7menubar li:hover div, #p7menubar li.p7hvr div {
	display: block;
}
#p7menubar li:hover ul a, #p7menubar li.p7hvr ul a {
/* COLOR DE CADA OPCION DEL MENU */
	color:#333333; 
	background-color: transparent;
}




#p7menubar ul a:hover {
/*COLOR DE FONDO DE CADA OPCION  DESPLEGABLE ILUMINADA*/
	background-color: #606060!important;
	color: #FFFFFF !important;
}





#p7menubar li:hover a.tituloapp {
	color: #FFFFFF !important;
	background-image: url(menu_bg.jpg);
	background-repeat: repeat-x; 
	cursor: default;
}