
table.tablesorter 
	{
	/*background-color: #CDCDCD;*/
	}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	
	height:24px; border: 1px solid #CCCCCC; background-color:#E9E9E9;  color: #666;font-size:12px; padding-left:3px; text-transform:capitalize;
}
table.tablesorter thead tr .headertbl {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
/*
	color: #3D3D3D;
	background-color: #FFF;
	*/
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headertblSortUp {
	background-image: url(asc.gif); color:#000000; 
}
table.tablesorter thead tr .headertblSortDown {
	background-image: url(desc.gif); color:#000000; 
}
table.tablesorter thead tr .headertblSortDown, table.tablesorter thead tr .headertblSortUp {
background-color: #339933; color:#FFFFFF;
}
