#CalendarControlIFrame {
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  height: 250px;
  width: 250px;
  z-index: 99;
}

#CalendarControl {
  position:absolute;
  background-color:#FFF;
  margin:0;
  padding:0;
  display:none;
  z-index: 100;
}

#CalendarControl table {
  font-family: verdana;
  font-size: 9pt;
  background-color: #FFF;  
    border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;  
}


#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center;
}

#CalendarControl .header {
   font-weight: bold; 
	/*background: url('bg.gif') top left repeat-x; */
 background-color: #EEEEEE;	

}

.dayname
{
 background-color: #999999;
 color: #FFF;
 }
 
#CalendarControl .days,
#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .empty {
  background-color: #ededed;
  color: #000;

}



#CalendarControl .current {
  border: 1px solid #339;
  background-color: #FF9900;
  color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border: 1px solid #FFF;
  width: 2em;
}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #336;
  border: 1px solid #999;

}

#CalendarControl .previous {
  text-align: left;
}



#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 3px 1px 3px;
}

#CalendarControl .previous a,
#CalendarControl .next a {
   text-decoration: none;
   color:#000000;
   font-size:16px;
}