body{margin: 0;padding: 0; width:100%;}
.header { width:100%; height:36px; background:#002956!important; margin: 0;padding: 0;}
.header img { position:absolute; top:5px; left:10px;}
.header h2 { position:absolute; top:1px; left:42px; color: #f5f5f5; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.line{width:100%;height:5px;  background-color:#006dcc;}

/* ARCHIVO */

.campo
	{
	background-color:#336699;color:#FFFFFF; height:25px; font-weight:bold
	}
.valor
	{
	background-color:#FFFFFF;color:#000000; border:solid #336699 1px
	}	
fieldset 
		{
		border:1.9px dashed #336699;
		padding:10px;
		margin-top:20px;
		margin-bottom:20px;
		}
legend 
		{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 14px;
		letter-spacing: -1px;
		font-weight: bold;
		line-height: 1.1;
		color:#fff;
		background: #336699;
		border: 1px solid #333;
		padding: 2px 6px;
		}
		


.text {
    	font:normal 10px Verdana;
    	padding:3px 5px 3px 5px;
		height: 20px;
	    border-right: #7b9ebd 1px solid;
    	border-top: #7b9ebd 1px ridge;
	    border-left: #7b9ebd 1px ridge;
	    border-bottom: #7b9ebd 1px ridge;
		}
.select {
    	font:normal 10px Verdana;
    	padding:3px 5px 3px 5px;
		height: 23px;
	    border-right: #7b9ebd 1px solid;
    	border-top: #7b9ebd 1px ridge;
	    border-left: #7b9ebd 1px ridge;
	    border-bottom: #7b9ebd 1px ridge;
		}		

.texta {
    	font:normal 10px Verdana;
	    border-right: #7b9ebd 1px solid;
    	border-top: #7b9ebd 1px ridge;
	    border-left: #7b9ebd 1px ridge;
	    border-bottom: #7b9ebd 1px ridge;
		}

.button.alt{
	color:#FFF;
	background: #0162a6!important;
	box-shadow: none!important;
	border: 1px solid #c3c3c3!important;
	border-radius: 3px!important;
	-moz-border-radius: 3px!important;
	-webkit-border-radius: 3px!important;
	-o-border-radius: 3px!important;
	transition: all 0.3s ease!important;
	-moz-transition: all 0.3s ease!important;
	-webkit-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	height: 28px!important;
	cursor:hand; cursor:pointer;
}

.button.alt:hover{
	background: #9cc93a!important;cursor:hand; cursor:pointer;
}

.boton
		{
	
		padding: 0px 4px 4px 4px;
		font-size: 10pt;
		font-family: Verdana;
		height: 25px;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#dcdcdc, EndColorStr=#ffffff);
		border-right: #7b9ebd 1px solid;
		border-top: #7b9ebd 1px ridge;
		border-left: #7b9ebd 1px ridge;
		border-bottom: #7b9ebd 1px ridge;
		cursor:pointer; cursor:hand;
		}
		
.celda_solo_bottom		
		{	 
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: #7b9ebd 1px ridge; vertical-align:top;				
		}