﻿/* remove rounds from all elements */
input, select, textarea, button, table,fieldset, legend {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}


.btn {
	background-color: #e5e5e5;
	background-image: none;
	filter: none;
	border: 0;
	box-shadow: none;
	padding: 4px 14px; 
	text-shadow: none;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 12px;  	
	color: #333333;
	cursor: pointer;
	outline: none;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important; text-transform:capitalize;
	width:auto;
}
.btn:hover, 
.btn:focus, 
.btn:active,
.btn.active,
.btn[disabled],
.btn.disabled {  
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  color: #333333;
  box-shadow: none;
  background-color: #d8d8d8;
}


.btn.red {
  color: white;  
  text-shadow: none;	
  background-color: #d84a38;
}
.btn.red:hover, 
.btn.red:focus, 
.btn.red:active, 
.btn.red.active,
.btn.red[disabled], 
.btn.red.disabled {    
  background-color: #bb2413 !important;
  color: #fff !important; 
  border:1px solid #000;
}



.btn.blue   
{
  color: white;  
  text-shadow: none;	
  background-color: #4d90fe;
}
.btn.blue:hover, 
.btn.blue:focus, 
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {  
  background-color: #0362fd !important;
  color: #fff !important;
    border:1px solid #000;
}


.btn.green {
  color: white;
  text-shadow: none;	 
  background-color: #35aa47;
}
.btn.green:hover, 
.btn.green:focus, 
.btn.green:active, 
.btn.green.active,
.btn.green.disabled, 
.btn.green[disabled]{ 
  background-color: #1d943b !important;
  color: #fff !important; 
  border:1px solid #000;
}


.btn.purple {
  color: white; 
  text-shadow: none;	
  background-color: #852b99;
}
.btn.purple:hover, 
.btn.purple:focus, 
.btn.purple:active, 
.btn.purple.active, 
.btn.purple.disabled,
.btn.purple[disabled] { 
  background-color: #6d1b81 !important;
  color: #fff !important; 
  border:1px solid #000;
}

.btn.yellow {
  color: white; 
  text-shadow: none;	
  background-color: #ffb848;
}
.btn.yellow:hover, 
.btn.yellow:focus, 
.btn.yellow:active, 
.btn.yellow.active, 
.btn.yellow.disabled,
.btn.yellow[disabled] { 
  background-color: #eca22e !important;
  color: #fff !important; 
  border:1px solid #000;
}

.btn.black {
  color: white; 
  text-shadow: none;	
  background-color: #555555;
}
.btn.black:hover, 
.btn.black:focus, 
.btn.black:active, 
.btn.black.active, 
.btn.black.disabled,
.btn.black[disabled] { 
  background-color: #222222 !important;
  color: #fff !important; 
  border:1px solid #000;
}

/***
Metro icons
***/
[class^="flecha-"] {
  display: inline-block;
  width: 14px;
  height: 14px;;
  margin-top: 4px;
  line-height: 14px;  
  vertical-align: top;
  background-image: url(flechanegro.png);
  background-position: 0 0;
  background-repeat: no-repeat; 
}


.flecha-btn {
  background-image: url(flechablanco.png); background-position: -27px -10px;
}


.flecha-btn-back {
  background-image: url(flechablanco.png); background-position: -8px -10px;
}



input[type=text], input[type=password], input[type=file],textarea, select
{

   /* background-image: url(lineatextbox.png);
    background-repeat: no-repeat;
    background-position:left;*/
    background-color:#FFFFFF;
    padding:3px 5px 3px 5px;   font-family: "Segoe UI", Helvetica, Arial, sans-serif;border:1px solid #000;  font-size:12px;width:auto;
	}
	

input[type=text], input[type=file], input[type=image], input[type=submit], input[type=reset], input[type=button], input[type=radio], input[type=checkbox], input[type=password]{
    display:inline-block;
	height:20px;
	margin-bottom:4px;
    font-size:12px;
	line-height:20px;
	color:#555;
	vertical-align:middle;   font-family: "Segoe UI", Helvetica, Arial, sans-serif;
width:auto;
}

input[type=radio], input[type=checkbox]{margin:4px 0 0;margin-top:1px \9;*margin-top:0;line-height:normal}


textarea{height:auto}
textarea, input[type=text], input[type=password], input[type=file]{
	background-color:#fff;border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s; width:auto;
}
textarea:focus, input[type=text]:focus, input[type=password]:focus, select:focus, input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus{
	border-color:rgba(82,168,236,0.8);
	outline:0;outline:thin dotted \9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
	}
		
									

select{background-color:#fff;border:1px solid #ccc; width:auto;}
select[multiple],select[size]{height:auto}


input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{
	cursor:not-allowed;
	background-color:#eee;
	display:inline-block;
	height:20px;
	margin-bottom:4px;
	font-size:12px;
	line-height:20px;
	color:#555;
	vertical-align:middle;
	width:auto;
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
	/*
	background-image: url(lineatextbox.png);
	background-repeat: no-repeat;
	background-position:left;
	*/
	padding:3px 5px 3px 5px;   font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

input[type=radio][disabled], input[type=checkbox][disabled], input[type=radio][readonly], input[type=checkbox][readonly]{background-color:transparent}


/*
2D5881
005683 azul
BCCDE3 celeste
*/
body {margin: 0;padding: 0; width:100%;}
.logo { width:100%; height:25px; background: #222222 !important; margin: 0;padding: 0; }
.logo div { background-image: url(Logo.png);   background-repeat: no-repeat; background-position: 6px 1px; top:1px; left:19px; height:24px}
.logo label { position:absolute; top:3px; left:34px; color: #f5f5f5;  font-family: "Segoe UI", Helvetica, Arial, sans-serif; font-size:12px;}
.logoline{width:100%;height:2px; background-color: #CCCCCC !important}


.logo_gray { width:100%; height:27px;   margin: 0; padding: 0; background-color: #333333;}
.logo_gray div { background-image: url(Logo.png);   background-repeat: no-repeat; background-position: 6px 1px; top:1px; left:19px; height:40px}
.logo_gray label { 
	position:absolute; 
	top:5px; 
	left:22px;  
	font-family: "Segoe UI", Helvetica, Arial, sans-serif; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: .8em;
	margin: 0 0 12px 10px;
	white-space: nowrap;
	font-weight: normal;
	}
.logoline_gray{/*width:100%;height:2px;background-color: #909090;*/}

/*
<div class="logo"><div  class="imagen"></div><label>Teleperformance El Salvador</label></div><div class="logoline"></div>
<div class="logo_gray"><div  class="imagend"></div><label>Teleperformance El Salvador</label></div><div class="logoline_gray"></div>

*/


.listas{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.listas li{height:20px; border-bottom:1px solid #CCCCCC; border-top:none; text-align:left;  }
.listas li:hover {text-decoration:none; color: #000000; background: #ffffff; border:#006dcc 1px solid; padding-right:1px;padding-left:2px} 


a.links:link {color: #000000; text-decoration:none;  } /* Link no visitado*/
a.links:visited {color: #000000; text-decoration:none; } /*Link visitado*/
a.links:active {color: #000000;text-decoration:none;  } /*Link activo*/
a.links:hover {text-decoration:none; color: #FF6600; } /*Mause sobre el link*/


a.detalle:link {color: #0033CC; text-decoration:none;  } /* Link no visitado*/
a.detalle:visited {color: #0033CC; text-decoration:none; } /*Link visitado*/
a.detalle:active {color: #0033CC;text-decoration:none;  } /*Link activo*/
a.detalle:hover {text-decoration:none; color: #000000; background: #ffffff; border:#006dcc 1px solid; padding-right:1px;padding-left:2px} /*Mause sobre el link*/



/*FORMULARIO CON LISTAS, LOS ALIMEA COMO QUE SI FUERA TABLA*/
.ul_formulario{list-style-type: none;float:center;width:400px;clear:both; text-align:left; font-family: "Segoe UI", Helvetica, Arial, sans-serif; font-size:12px}
.li_titulo{float:left;width:110px;margin-top:3px;}
.li_input{width:250px; float:left;}
.li_botones{width:400px; float:center;  text-align:center;  height:29px;}
.li_espacio{width:400px; height:29px; }
		
/*
COMO USARLO
<ul class="ul_formulario">
<li class="li_titulo">titulo</li>
<li class="li_input">input</li>
<li class="li_espacio"></li>
<li class="li_botones">botones</li>		
</ul>
*/


fieldset 
		{
		border:1px solid #CCCCCC;
		padding:10px;
		margin-bottom:20px; text-align:left;
		}
legend 
		{
		font-family: "Segoe UI", Helvetica, Arial, sans-serif;
		font-size: 12px; 
		font-weight: bold;
		line-height: 1.1;
		/*border: 1px solid #CCCCCC;*/
		padding: 5px 8px; 
		background-color:#eeeeee; 	
		border-top:1px solid #CCCCCC;
		border-left:1px solid #CCCCCC;
		border-right:1px solid #CCCCCC;
		border-bottom:2px double #000000; 
	
		}
		

.bloque_body
{
	border-radius: 5px;
	border: 1px solid #9cc93a;
	padding:5px;
	height:auto;
	font-family:verdana; font-size:13px;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	width:222px
}	
.bloque_titulo
{
	border-radius: 5px;
	border: 1px solid #c3c3c3;
	height:12px;
	font-family:verdana; 
	background: #9cc93a;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	margin-bottom: 0;
	font-weight: bold;
	margin-top: 0; 
	width:230px

}
/*background:#2D5881!important; */
		
.tablahorizontal{ background-color:transparent; border: 1px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.tablahorizontal th{height:24px; border: 1px solid #CCCCCC; background-color:#E9E9E9;  color: #666;font-size:12px; padding-left:3px; text-transform:capitalize; }
.tablahorizontal td{height:18px; border: 1px solid #CCCCCC; background-color:#fffff; font-size:11.5px; padding-left:3px;  }
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#f5f5f5}

/*.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}*/
  
.tablavertical{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.tablavertical .titulo{height:25px; border: 0px solid #CCCCCC; text-align:left; text-transform:capitalize; color: #666666 }
.tablavertical .valor{border: 0px solid #CCCCCC; background-color:#fffff; padding-left:7px; text-transform:capitalize;}


.tablavertical_texto{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.tablavertical_texto tr{height:25px; border-bottom:1px solid #CCCCCC; border-top:none; text-align:left; }
.tablavertical_texto td{padding:5px 0;}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#f5f5f5}







/* MARCO DE IMAGEN DE ORGANOGRAMA*/
.fondoimagen{
   background-color: #ccc;
   	border: 1px solid #35aa47; 
   color: inherit;
   margin-left: 4px;
   margin-top: 4px;
   width: 160px;
   	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif; font-size:11px; 
}
.sombra,  .contenidoimg{
   position: relative;
   bottom: 2px;
   right: 2px;
   	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
.sombra{
   background-color: #cccc;
   color: inherit;
   	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	height:212px;
}
.contenidoimg{
	background-color: #fff ;
	color: #000;
	border: 1px solid #999999; 
	padding: .5em 2ex;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important; height:130px;
		  
} 
.contenidoimg IMG{
	border: 4px solid #999999;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}

/*
<div class="blur">
<div class="shadow">
<div class="content">
</div>
</div>
</div>
*/
/* TERMINA MARCO DE IMAGEN DE ORGANOGRAMA*/





#menuizquierdo{float:left;clear:left;width:190px;padding:0 5px 20px;*padding-bottom:0px;  font-family: "Segoe UI", Helvetica, Arial, sans-serif; margin:0;padding:0;outline:none}
#menuizquierdo h3{color:#FFFFFF;font-size:13px;font-weight:normal;background:#4A8BC2;padding:3px;margin:0 0 2px 0;text-align:center;  height:22px}
#menuizquierdo h3:hover{cursor:pointer}
#menuizquierdo ul{margin:0 0 10px 0;list-style-type:none; margin:0;padding:0;outline:none}
#menuizquierdo ul li{background:#EEEEEE;color:#000000;border:1px solid #CCCCCC;font-size:8pt;margin:0 0 2px 0;padding:0 3px; height:22px}
#menuizquierdo ul li a{background:none;color:#000000;border:none;padding:4px;*padding-top:0px;display:block;text-decoration:none}
#menuizquierdo ul li a:hover,#menuizquierdo ul li a:focus{background:#E0E4EF;background:#FEFFED;background:#E6ECF2}
#menuizquierdo_tituloreporte{font-size:15px;  text-align:left; padding-bottom:2px; font-family: "Segoe UI", Helvetica, Arial, sans-serif;  color: #666666}




/* BLOQUE DE CODIGO PARA FOMULARIO CON DIV*/


.divformulario 
{
    background:#fff;
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid #404040;
	margin-left:10px !important;
	margin-right:10px;
}

.divformulario-title 
{
    height: 30px;  
}


.divformulario.green{border: 1px solid #74B749;}
.divformulario-title.green{background: #74B749;border: 1px solid #74B749;}

.divformulario.blue{border: 1px solid #4A8BC2;}
.divformulario-title.blue{background: #4A8BC2;border: 1px solid #4A8BC2;}


.divformulario.darkblue{border: 1px solid #045FB4;}
.divformulario-title.darkblue{background: #045FB4;border: 1px solid #045FB4;}

.divformulario.purple{border: 1px solid #9D4A9C;}
.divformulario-title.purple{background: #9D4A9C;border: 1px solid #9D4A9C;}

.divformulario.yellow{border: 1px solid #FFB400;}
.divformulario-title.yellow{background: #FFB400;border: 1px solid #FFB400;}

.divformulario.orange{border: 1px solid #F37B53;}
.divformulario-title.orange{background: #F37B53;border: 1px solid #F37B53;}

.divformulario.red{border: 1px solid #DE577B;}
.divformulario-title.red{background: #DE577B;border: 1px solid #DE577B;}

.divformulario.black{border: 1px solid #000000;}
.divformulario-title.black{background: #000000;border: 1px solid #000000;}

div.divformulario-title label.divformulario_title_label 
{ 
	top:12px; 
	left:34px; 
	color: #f5f5f5;  
	font-family: "Segoe UI", Helvetica, Arial, sans-serif; 
	font-size:14px; 
	display:block;
	line-height:1.2;
	margin:-.1em;
	margin-bottom:.5em;
	padding:.5em;
}


.divformulario-body 
{
    padding: 15px 15px;
}
.divformulario-body p.divformulario_p
{
    margin-left:-15px !important;
    margin-right:-15px !important;
    margin-top: 20px !important;
    margin-bottom: -15px !important;
    margin-top: 20px;
    padding-left: 195px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}




/*
<div class="divformulario green">
<div class="divformulario-title green"><label class="divformulario_title_label">Property Support Tracker</label></div>
<div class="divformulario-body">
<p class="divformulario_p">
	---AQUI LA TABLA CON EL FORMULARIO
</p>
</div>
</div>

 TERMINA BLOQUE DE CODIGO PARA FOMULARIO CON DIV*/
 
 
 /* DV ALERTAS*/
.alerta_exito{ 
color:#468847;
background-color:#dff0d8;
border-color:#d6e9c6;
font-family:Helvetica, Arial, sans-serif;
font-size: 12px;
width:auto;  
padding: 8px 35px 8px 14px; 
margin-bottom: 18px;
}
.alerta_error{
color:#b94a48;
background-color:#f2dede;
border-color:#eed3d7;
font-family:Helvetica, Arial, sans-serif;
font-size: 12px;
width:auto;  
padding: 8px 35px 8px 14px; 
margin-bottom: 18px;
}


