
select,textarea,
input[type="text"],
input[type="password"]{
    display:inline-block;
	height:20px;
	padding:2px 4px;
	margin-bottom:4px;
    font-size:12px;
	line-height:20px;
	color:#555;
	vertical-align:middle;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
	}

textarea{height:auto}
textarea,input[type="text"],input[type="password"]{
	background-color:#fff;border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus{
	border-color:rgba(82,168,236,0.8);
	outline:0;outline:thin dotted \9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
	}
									
input[type="radio"],input[type="checkbox"]{margin:4px 0 0;margin-top:1px \9;*margin-top:0;line-height:normal}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto}

select,input[type="file"]{height:30px;*margin-top:4px;line-height:30px}
select{background-color:#fff;border:1px solid #ccc}
select[multiple],select[size]{height:auto}
select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}



.uneditable-input,.uneditable-textarea{color:#999;cursor:not-allowed;background-color:#fcfcfc;border-color:#ccc;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);box-shadow:inset 0 1px 2px rgba(0,0,0,0.025)}
.uneditable-input{overflow:hidden;white-space:nowrap}
.uneditable-textarea{width:auto;height:auto}
						
input:-moz-placeholder,textarea:-moz-placeholder{color:#999}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}
.radio,.checkbox{min-height:20px;padding-left:20px}
.radio input[type="radio"],.checkbox input[type="checkbox"]{float:left;margin-left:-20px}
.controls>.radio:first-child,.controls>.checkbox:first-child{padding-top:5px}
.radio.inline,.checkbox.inline{display:inline-block;padding-top:5px;margin-bottom:0;vertical-align:middle}
.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline{margin-left:10px}

input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"]{float:none;margin-left:0}
.input-append input[class*="span"],.input-append .uneditable-input[class*="span"],.input-prepend input[class*="span"],.input-prepend .uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"],.row-fluid .input-prepend [class*="span"],.row-fluid .input-append [class*="span"]{display:inline-block}
input,textarea,.uneditable-input{margin-left:0}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{cursor:not-allowed;background-color:#eee}
input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"][readonly],input[type="checkbox"][readonly]{background-color:transparent}
input:focus:invalid,textarea:focus:invalid,select:focus:invalid{color:#b94a48;border-color:#ee5f5b}
input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}

/*
.form-actions{padding:19px 20px 20px;margin-top:20px;margin-bottom:20px;background-color:#f5f5f5;border-top:1px solid #e5e5e5;*zoom:1}
.form-actions:before,.form-actions:after{display:table;line-height:0;content:""}
.form-actions:after{clear:both}
*/					
.tablahorizontal{ background-color:transparent; border: 1px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-family:Arial, Helvetica, sans-serif; text-align:left;}
.tablahorizontal th{height:24px; border: 1px solid #CCCCCC; background-color:#eeeeee; font-size:12px; padding-left:3px; text-transform:capitalize; }
.tablahorizontal td{height:20px; border: 1px solid #CCCCCC; background-color:#fffff; font-size:11.5px; padding-left:3px;  }
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#f5f5f5}

/*.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9}*/
  
.tablavertical{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.tablavertical>.titulo{height:25px; border: 0px solid #CCCCCC; text-align:left; text-transform:capitalize;}
.tablavertical>.valor{border: 0px solid #CCCCCC; background-color:#fffff; padding-left:7px; text-transform:capitalize;}


.tablavertical_texto{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.tablavertical_texto tr{height:25px; border-bottom:1px solid #CCCCCC; border-top:none; text-align:left; }
.tablavertical_texto td{padding:5px 0;}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#f5f5f5}


/* letra negra*/
.listas{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.listas li{height:20px; border-bottom:1px solid #CCCCCC; border-top:none; text-align:left;  }
.listas li:hover {text-decoration:none; color: #000000; background: #ffffff; border:#006dcc 1px solid; padding-right:1px;padding-left:2px} 

/* letra blanca
.listas{ background-color:transparent; border: 0px solid #CCCCCC; border-collapse:collapse;border-spacing:0; font-size:12px;font-family:Arial, Helvetica, sans-serif}
.listas li{height:19px; border-bottom:0px solid #CCCCCC; border-top:none; text-align:left; color:#FFFFFF }
.listas li:hover {text-decoration:none; color: #ffffff; background: #ffffff; border:#CCCCCC 1px solid; padding-right:1px;  background-color:transparent; cursor:hand;cursor:pointer;} 
*/



.btn{
font-family:Arial, Helvetica, sans-serif;
display:inline-block;
*display:inline;
padding:2px 12px;
margin-bottom:0;
*margin-left:.3em;
font-size:12.5px;
line-height:20px;
color:#333;
text-align:center;
text-shadow:0 1px 1px rgba(255,255,255,0.75);
vertical-align:middle;
cursor:pointer;
background-color:#f5f5f5;
*background-color:#e6e6e6;
background-image:-moz-linear-gradient(top,#fff,#e6e6e6);
background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);
background-image:-o-linear-gradient(top,#fff,#e6e6e6);
background-image:linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat:repeat-x;
border:1px solid #ccc;
*border:0;
border-color:#e6e6e6 #e6e6e6 #bfbfbf;
border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color:#b3b3b3;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
*zoom:1;
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)
}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}
.btn:active,.btn.active{background-color:#ccc \9}
.btn:first-child{*margin-left:0}
.btn:hover,.btn:focus{color:#333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}

.azul.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.azul{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#006dcc;*background-color:#04c;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.azul:hover,.azul:focus,.azul:active,.azul.active,.azul.disabled,.azul[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}
.azul:active,.azul.active{background-color:#039 \9}

		
body {margin: 0;padding: 0; width:100%;}
.header { width:100%; height:36px; /*background: #000000;*/ background:#002956!important; margin: 0;padding: 0; }
.header img { position:absolute; top:5px; left:10px;}
.header h2 { position:absolute; top:1px; left:42px; color: #f5f5f5; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.line{width:100%;height:5px; /*background: #9cc93a!important;*/  background-color:#006dcc;}



a.detalle:link {color: #0033CC; text-decoration:none;  } /* Link no visitado*/
a.detalle:visited {color: #0033CC; text-decoration:none; } /*Link visitado*/
a.detalle:active {color: #0033CC;text-decoration:none;  } /*Link activo*/
a.detalle:hover {text-decoration:none; color: #000000; background: #ffffff; border:#006dcc 1px solid; padding-right:1px;padding-left:2px} /*Mause sobre el link*/


a.links:link {color: #000000; text-decoration:none;  } /* Link no visitado*/
a.links:visited {color: #000000; text-decoration:none; } /*Link visitado*/
a.links:active {color: #000000;text-decoration:none;  } /*Link activo*/
a.links:hover {text-decoration:none; color: #FF6600; } /*Mause sobre el link*/





fieldset 
		{
		border:1px solid #CCCCCC;
		padding:10px;
		margin-top:20px;
		margin-bottom:20px; text-align:left;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		}
legend 
		{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 12px; 
		font-weight: bold;
		line-height: 1.1;
		border: 1px solid #CCCCCC;
		padding: 5px 8px; background-color:#eeeeee;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;		
		}
		

.bloque_body
{
	border-radius: 5px;
	border: 1px solid #9cc93a;
	padding:5px;
	height:auto;
	font-family:verdana; font-size:13px;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	width:222px
}	
.bloque_titulo
{
	border-radius: 5px;
	border: 1px solid #c3c3c3;
	height:12px;
	font-family:verdana; 
	background: #9cc93a;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 7px;
	font-size: 14px;
	margin-bottom: 0;
	font-weight: bold;
	margin-top: 0; 
	width:230px

}
		